@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calendar-cells {
  height: $calendar-height;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: $cell-gap;
}

.cell {
  background-color: $cell-color;
  width: $cell-width;
  height: $cell-height;
  @include text-style;
  &:hover {
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
}

.root-style {
  display: flex;
  gap: 3px;
  margin: 50px;
}

.left-panel {
  margin-top: $cell-height;
  display: flex;
  flex-direction: column;
  height: $calendar-height;
  @include text-style;
  gap: $cell-gap;
  .p {
    height: $cell-height;
    width: $cell-width;
  }
}

.empty-block {
  height: $cell-height;
}
.months {
  grid-area: months;
}
.months {
  @include text-style;
  span {
    display: inline-block;
    width: 20px * 4;
  }
}

.weak-contr {
  background-color: #acd5f2;
}

.mid-contr {
  background-color: #7fa8c9;
}

.strong-contr {
  background-color: #527ba0;
}

.max-contr {
  background-color: #254e77;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  width: $cell-width;
  height: $cell-height;
  visibility: hidden;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  font-size: 12px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltipdate {
  color: #7c7c7c;
  font-size: 10px;
}
